.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  background-color: #e8e8e8 !important;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

#idHeader {
  position: fixed;
  z-index: 10;
}

.header {
  width: 100%;
  float: left;
  height: auto;
  background-color: #404852;
  margin-bottom: 0;
}

#headerContainer {
  padding: 20px 0px;
  overflow: hidden;
  color: white;
}

#panelConnexion {
  background-color: black;
  padding: 5px;
}

button, input {
  border-radius: 0px !important;
}

#idSInscrire {
  background-color: #78AB4E;
  border-color: #78AB4E;
}

a h4{
   color: #78AB4E;
}

#idSeConnecter {
  color: white;
  line-height: 35px;
  margin-left: 10px;
}

#login_google , #login_facebook, #login_twitter{
  width: 36px;
  height: 30px;
  float: right;
  margin-right: 10px;
}

#login_google {
    background: url(../images/icon_all_google_white.png) no-repeat center;
}

#login_facebook {
    background: url(../images/icon_all_facebook_white.png) no-repeat center;
}

#login_twitter {
    background: url(../images/icon_all_twitter_white.png) no-repeat center;
}

#idOuVia {
  line-height: 18px;
  margin: 6px 5px 6px 0;
  font-style: italic;
  color: #929292;
  margin-left: 20px;
}

#filtreContainer {
  background-color: #ffffff;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 30px;
  padding: 5px;
}

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

.champFilter li{
  margin-right: 10px !important;
  padding: 5px !important; 
}

.menu {
    line-height: 10px;
    float: left;
    display: inline-block;
    color: #777777;
    background-color: rgba(242, 242, 242, 1);
    border: 1px solid #d9d9d9;
    margin-right: 10px !important;
    padding: 5px !important; 
    padding-left: 10px !important;
    padding-right: 10px !important;  
}

#form-search {
  display: inline-block;
  width: 300px;
  float: right;
}

#bodyContainer {
  margin-top: 150px;
}

.rowDeal {
  padding: 20px 20px 20px 20px;
  overflow: hidden;
  margin-bottom: 10px;
  background-color: white;
}

.deals li{
  list-style-type:none;
}

ul, ol {
  padding-left: 0px;
}



